<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="${contextPath}/resource/bootstrap.min.css" rel="stylesheet">
    <title>Consulta</title>


    <nav class="navbar navbar-expand-sm navbar-light bg-light" th:if="${consulta.estado == 'Paga'}">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active"  th:href="@{/perfilutilizador/consulta/__${idconsulta}__/}">Consulta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/perfilutilizador/consulta/__${idconsulta}__/receita}">Receita</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " th:href="@{/perfilutilizador/consulta/__${idconsulta}__/fatura}">Fatura</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</head>
<body>

<h1 th:text="'Consulta Nº ' + ${consulta.idconsulta}" style="color: #144474; margin: 3%;"></h1>
<p th:text="'Estado: ' + ${consulta.estado}" style="margin: 3%;"></p>
<p th:text="'Data: ' + ${#temporals.format(consulta.datainicio, 'dd-MM-yyyy')}" style="margin-left: 3%;"></p>
<p th:text="'Hora Início: ' + ${#temporals.format(consulta.datainicio, 'HH:mm')} + 'h'" style="margin-left: 3%;"></p>
<p th:text="'Hora Fim: ' + ${#temporals.format(consulta.datafim, 'HH:mm')} + 'h'" style="margin-left: 3%;"></p>
<p th:text="'Dentista: Dr(a). ' + ${consulta.iddent.nome}" style="margin-left: 3%;"></p>
<p th:text="'Procedimento: ' + ${consulta.procedimento.nome}" style="margin-left: 3%;"></p>


</body>
</html>