<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="${contextPath}/resource/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">




    <title>Editar Perfil</title>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://www.vippng.com/png/full/231-2312794_services-england.png"
                     height=50 width=50></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active"  th:href="@{/perfilutilizador/perfil/__${utente.idutente}__}">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/perfilutilizador/__${utente.idutente}__}">Consultas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  th:href="@{/perfilutilizador/__${idutilizador}__/procedimentos}">Procedimentos</a>
                    </li>
                </ul>
            </div>
            <a th:href="@{/}" style="color: #062c33"><i class="bi bi-box-arrow-left" style="align-content: end"></i>  Sair</a>

        </div>
    </nav>

</head>

<body>
<div style="margin: auto; width: 60%; padding: 10px; text-align: center;">
    <img src="https://www.vippng.com/png/full/231-2312794_services-england.png"
         height=100 width=100 style="margin-top: 10px">
    <h3 th:text="${utente.nome}" style="margin-bottom: 30px; margin-top: 10px"></h3>
<p th:text="'Data de Nascimento:' + ${#temporals.format(utente.datanascimento, 'dd-MM-yyyy')}"></p>

<form  th:action="@{/alteradados/__${utente.idutente}__}" th:object="${dados}" method="post">

        <p>Contacto: <input type="text" class="form-control"
                            th:value="${utente.contacto}" name="contacto"
                            style="width: 50%; margin-left: 25%" required></p>
        <p>Morada: <input type="text" class="form-control"
                          th:value="${utente.morada}"  name="morada"
                          style="width: 50%; margin-left: 25%" required></p>
        <p th:text="'NIF: ' + ${utente.nif}"></p>
        <p th:text="'Cartão de Cidadão: ' + ${utente.numcc}"></p>

        <p th:text="'Email: ' + ${utente.conta.email}"></p>

        <p th:text="'Histórico: ' + ${utente.historico}"></p>

    <button class="btn" type="submit" style="margin-top: 50px; background-color: #144474; color: white">Guardar</button>

</form>
</div>


</body>
</html>