<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="${contextPath}/resource/bootstrap.min.css" rel="stylesheet">
    <title>Fatura</title>

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"  th:href="@{/perfilutilizador/consulta/__${idconsulta}__/}">Consulta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/perfilutilizador/consulta/__${idconsulta}__/receita}">Receita</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/perfilutilizador/consulta/__${idconsulta}__/fatura}">Fatura</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</head>
<body>

<h1 th:text="Fatura" style="color: #144474; margin: 3%;"></h1>
<p th:text="'Data de Emissão: ' + ${fatura.dataemissao}" style="margin-left: 3%;"></p>
<p th:text="'Hora de Emissão: ' + ${fatura.dataemissao}" style="margin-left: 3%;"></p>
<p th:text="'Procedimento: ' + ${fatura.descricao}" style="margin-left: 3%;"></p>
<p th:text="'Total: ' + ${fatura.total} + '€'" style="margin-left: 3%;"></p>

</body>
</html>