<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="${contextPath}/resource/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
    <link href="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <title>Marcar Consulta</title>


</head>

<body style="height: 100%">
<div>
    <h2 style="margin-left: 2%; color: #144474; margin: 5%">Marcar Consulta</h2>
</div>
<br/>
<div class="container" style="width: 90%">
<div class="row">
    <form method="post" th:action="@{/perfilutilizador/marcacao/__${idutilizador}__}" th:object="${consulta}" style="width: 100%">


        <select class="form-control" id="iddent" name="iddent" style="margin-bottom: 3%;" required>
            <option th:each="d : ${listadentistas}"
                    th:value="${d.iddent}"
                    th:text="${d.nome}"/>
        </select>

        <select class="form-control" id="idproced" name="idproced" style="margin-bottom: 3%;" required>
            <option th:each="p : ${listaproceds}"
                    th:value="${p.idproced}"
                    th:text="${p.nome}"
            />
        </select>


        <input id="data" type="date" class="form-control" style="margin-bottom: 3%;" placeholder="Data" name="data" required >


        <input type="time" name="hora" class="form-control" min="08:00" max="18:00" step="1800" style="margin-bottom: 3%;" required>

        <div id="alerta-erro" class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>

        <div id="alerta" class="alert alert-success " role="alert" th:text="${success}" th:if="${success}"></div>



        <input class="btn btn-md btn-lg"
               type="submit" value="Marcar" style="background-color: #144474; color: white; margin-left: 43%; margin-top: 3%"/>
    </form>


</div>
</div>

</body>

<script type="text/javascript">

    $("#alerta-erro").fadeTo(2000, 500).slideUp(500, function(){
        $("#alerta-erro").slideUp(500);
    });


    $("#alerta").fadeTo(2000, 500).slideUp(500, function(){
        $("#alerta").slideUp(500);
    });

    //buscar o data-value das options
    document.querySelector('input[list]').addEventListener('input', function (e){
        var input = e.target,
            list = input.getAttribute('list'),
            options = document.querySelectorAll('#' + list + 'option'),
            hiddenInput = document.getElementById(input.getAttribute('id') + '-hidden'),
            inputValue = input.value;

        hiddenInput.value = inputValue;

        for(var i=0; i<options.length; i++){
            var option = options[i];

            if(option.innerText === inputValue){
                hiddenInput.value = options.getAttribute('data-value');
                console.log(hiddenInput.value);
                break;
            }
        }
    })

    var timepicker = new TimePicker('time', {
        lang: 'pt',
        theme: 'blue'
    });
    timepicker.on('change', function(evt){
        var val = (evt.hour || '00') + ':' + (evt.minute || '00');
        evt.element.value = val;
    })


</script>
</html>
