
<!DOCTYPE html>


<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="${contextPath}/resource/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




    <title>Perfil Utilizador</title>

</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://www.vippng.com/png/full/231-2312794_services-england.png"
                 height=50 width=50>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"  th:href="@{/perfilutilizador/perfil/__${idutilizador}__}">Perfil</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Consultas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/perfilutilizador/__${idutilizador}__}">Todas</a>
                        <a class="dropdown-item" th:href="@{/perfilutilizador/__${idutilizador}__/hoje}">Hoje</a>
                        <a class="dropdown-item" th:href="@{/perfilutilizador/__${idutilizador}__/confirmadas}">Confirmadas</a>
                        <a class="dropdown-item" th:href="@{/perfilutilizador/__${idutilizador}__/historico}">Histórico</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  th:href="@{/perfilutilizador/__${idutilizador}__/procedimentos}">Procedimentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " th:data-work="${idutilizador}" onclick="openMarcarConsulta(this.getAttribute('data-work'))">Marcar Consulta</a>
                </li>
            </ul>
        </div>
        <a th:href="@{/}" style="color: #062c33"><i class="bi bi-box-arrow-left" style="align-content: end"></i>  Sair</a>
    </div>
</nav>

</head>

<body style="background-color:white">

<div style="background-color:#144474;line-height:70px;width:100%;height:70px;">
    <h2 style="margin-left: 2%; color: white">Lista de Consultas</h2>
</div>
<br/>
<table class="table table-bordered" style="width: 90%; margin-left: 5%;">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Estado</th>
        <th scope="col">Data</th>
        <th scope="col">Hora</th>
        <th scope="col">Sala</th>
        <th scope="col">Opção</th>
    </tr>
    </thead>
    <tbody>

        <tr th:each="con : ${listaconsultas}">
            <th scope="row" th:text="${con.idconsulta}"></th>
            <td th:text="${con.estado}"></td>
            <td th:text="${#temporals.format(con.datainicio, 'dd-MM-yyyy')}"></td>
            <td th:text="${#temporals.format(con.datainicio, 'HH:mm')} + 'h'"></td>
            <td th:text="${con.sala}"></td>

            <td style="width: 250px;">
                    <a   th:data-work="${con.idconsulta}" onclick="openWindow(this.getAttribute('data-work'))" class="btn btn-primary" tabindex="-1" role="button">Ver</a>
                    <a th:href="@{/perfilutilizador/__${idutilizador}__/cancelar/__${con.idconsulta}__}" class="btn btn-danger" tabindex="-1" role="button">Cancelar</a>

            </td>
        </tr>

    </tbody>

</table>


<div id="alerta" class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
<div id="alerta-erro" class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>




<!-- value="{listaCon.idconsulta}"  -->

</body>


<script type="text/javascript">

    $("#alerta").fadeTo(2000, 500).slideUp(500, function(){
        $("#alerta").slideUp(500);
    });

    $("#alerta-erro").fadeTo(2000, 500).slideUp(500, function(){
        $("#alerta-erro").slideUp(500);
    });

    function openWindow(num){
        var con_link = "http://localhost:8080/perfilutilizador/consulta/" + num;
        window.open(con_link,'_blank', 'scrollbars=0, resizable=1, menubar=0, left=100, top=100, width=620, height=500, toolbar=0, status=0');
    }

    function openMarcarConsulta(num){
        var con_link = "http://localhost:8080/perfilutilizador/" + num + "/marcarconsulta";
        window.open(con_link,'_blank', 'scrollbars=0, resizable=1, menubar=0, left=100, top=100, width=620, height=500, toolbar=0, status=0');
    }

</script>

</html>




