<!DOCTYPE html>


<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="${contextPath}/resource/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <title>Procedimentos</title>


    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img src="https://www.vippng.com/png/full/231-2312794_services-england.png"
                     height=50 width=50></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/procedimentos}">Procedimentos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


</head>


<body style="background-color:white">


<table class="table table-bordered" style="width: 90%; margin-left: 5%; margin-top: 7%">
    <thead>
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">Preço</th>

    </tr>
    </thead>
    <tbody>

    <tr th:each="p : ${listaproced}">>
        <td th:text="${p.nome}"></td>
        <td th:text="${p.preco} + '€'"></td>
    </tr>

    </tbody>

</table>

</body>


</html>