<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="${contextPath}/resource/bootstrap.min.css" rel="stylesheet">
    <title>Receita</title>

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"  th:href="@{/perfilutilizador/consulta/__${idconsulta}__/}">Consulta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/perfilutilizador/consulta/__${idconsulta}__/receita}">Receita</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " th:href="@{/perfilutilizador/consulta/__${idconsulta}__/fatura}">Fatura</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</head>

<body>

<h1 th:text="Receita" style="color: #144474; margin: 3%;"></h1>

<table class="table table-bordered" style="width: 90%; margin-left: 5%;">
    <thead>
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Posologia</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="rec : ${listareceita}">
        <th scope="row" th:text="${rec.medicacao}"></th>
        <td th:text="${rec.quantidade}"></td>
        <td th:text="${rec.descricao}"></td>
    </tr>

    </tbody>

</table>
</body>
</html>