<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" th:href="bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://www.vippng.com/png/full/231-2312794_services-england.png"
                                                   height=50 width=50></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/procedimentos}">Procedimentos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br>
<div class="container" style="width: 30%; text-align: center; margin-top: 10%">

    <div class="row">

    <form class="form-signin" action="login" method="post" modelAttribute="userFormData">

        <fieldset style="border: 1px solid lightslategray; padding: 25px">
        <legend th:text="LOGIN" style="display: block; font-weight: bold;"></legend>

        <input type="text" class="form-control" style="width: 400px; margin-bottom: 5%;" placeholder="Email" name="email" required >
        <input type="password" class="form-control" style="width: 400px; margin-bottom: 5%;"
               placeholder="Password" name="password" required>
        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"
        ></div>
        <input class="btn btn-md btn-lg"
               type="submit" value="Entrar" style="background-color: #144474; color: white">

            <a th:href="@{/registo}" class="btn btn-md btn-lg" tabindex="-1" role="button" style="background-color: #144474; color: white; margin-left: 10px">Registo</a>

            <div id="alerta" class="alert alert-success" role="alert" th:text="${success}" th:if="${success}" style="margin-top: 20px"></div>

        </fieldset>
    </form>


    </div>


</div>



</body>

<script type="text/javascript">
    function alertError(error) {
        console.log(error);
        //if(error != null) {
            alert(error);
        //}
    }

    $("#alerta").fadeTo(2000, 500).slideUp(500, function(){
        $("#alerta").slideUp(500);
    });
</script>
</html>

